Test_files/bibExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bibliography" type="bibType"/>
    <xs:complexType name="refType">
        <xs:sequence>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="author"/>
        </xs:sequence>
        <xs:attribute name="category" use="required"/>
    </xs:complexType>
    <xs:complexType name="bibType">
        <xs:sequence>
            <xs:element type="refType" name="ref" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>